{deps_dir, ["deps"]}.
{sub_dir, ["rel", "apps/poker"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
  {erlzmq, ".*", {git, "git://github.com/zeromq/erlzmq2.git", {tag, "2.1.11"}}},
  {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.7.0"}}},
  {epgsql, ".*", {git, "git://github.com/wg/epgsql.git", {tag, "1.4"}}},
  {mongodb, ".*", {git, "git://github.com/mongodb/mongodb-erlang.git", {tag, "v0.3.1"}}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}}
]}.

